@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0B0F10;
  --foreground: #E8F5E9;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
